@charset "UTF-8";

h2 {
	 text-align: center;
}

.container {
    width: 1000px; !important;
    /* padding-top: 200px; */
    padding-right: 100px;
}

footer {
    text-align: center;
    background-color: navy;
    color: white;
}

.toolbar {
    margin: 3px 0px;
}

.searchbox {
    float: right;
}

#memberType_modify {
    margin-left: 15px;
}

#memberType_add {
    margin-left: 15px;
}
#category {
    float: right;
    margin-right: -21%;
}
