#like-btn {
	position: relative;
	top: 0;
	left: 25px;
	right: 0;
	bottom: 0;
	width: 150px;
	height: 40px;
	background: gray;
	border: 0;
	font-size: .9rem;
	font-family: Futura;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	cursor: pointer;
	border-radius: 6px;
	outline: none;
}

#like-btn:hover {
	color: white;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

#like-btn:hover span {
	opacity: 1;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#like-btn:active {
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}

#like-btn span {
	position: absolute;
	top: -55px;
	left: 0;
	right: 0;
	margin: auto;
	background: #84d9ff;
	color: rgba(0, 0, 0, 0.5);
	padding: 10px 0;
	border-radius: 100px;
	opacity: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#like-btn span:hover {
	opacity: 1;
}

#like-btn span:after {
	position: absolute;
	bottom: -7px;
	left: 0;
	right: 0;
	margin: auto;
	content: "";
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #84d9ff;
}


body {
  text-align: center;
}

.containers {
  height: 270px;
  position: relative;
  max-width: 320px;
  margin: auto;
}
.containers .imageWrapper {
  border: 3px solid #888;
  width: 125%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containers .imageWrapper img {
  height: 105%;
  width: initial;
  max-height: 100%;
  max-width: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  max-width: 150px;
  text-align: center;
  font-size: 1.2em;
  border: 2px solid #888;
  padding: .85em 1em;
  display: inline;
  -ms-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.file-upload:hover {
  background: #999;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
}

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
}

.input-file { visibility: hidden; position: absolute;}
h4 { margin-top: 30px;}



          